.menu {
    padding: 65px 0 0;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__banner {
    width: 100vw;
    max-width: 1400px;
    height: 70vh;
    background-image: url("../../assets/images/pumpking-soup-fall-morsel-chef.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.menu__title {
    font-family: STIXTwoText, Georgia, 'Times New Roman', Times, serif;  
    color: rgb(0, 0, 0, .82);
    font-size: 36px;
    line-height: 16px;
    font-weight: 600;
    font-style: oblique;
    max-width: 50vw;
    margin: 38px 0 26px;
}

.menu__subtitle {
    /* font-family: SimplyMono, Arial, Helvetica, sans-serif; */
    font-family: STIXTwoText, Georgia, 'Times New Roman', Times, serif;  
    color: rgb(0, 0, 0, .82);
    font-size: 24px;
    line-height: 16px;
    font-weight: 600;
    margin: 26px 0 30px;
}

.menu__text {
    font-family: SimplyMono, Arial, Helvetica, sans-serif;
    /* font-family: STIXTwoText, Georgia, 'Times New Roman', Times, serif;   */
    color: rgb(0, 0, 0, .82);
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    width: 700px;
    margin: 0 0 24px;
}

.menu__text-centered {
    text-align: center;
}

.menu__text-resume {
    width: 350px;
    padding: 20px 0 20px 30px;
}

.menu__text-oblique {
    font-style: oblique;
}

.menu__photo-pair {
    display: flex;
    margin: 20px 0 20px;
    box-sizing: border-box;
    column-gap: 10px;
}

.menu__photos {
    width: 400px;
}

.menu__quote-container {
    background-image: url("../../assets/images/megan-chopping-citrus-fruit.jpg");
    width: 820px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-attachment: fixed;
    background-size: stretch;
    background-position: top -20% left 0;
    background-repeat: no-repeat;
    height: 350px;
}

.menu__quote-block {
    background-color: rgb(0, 0, 0, .5);
    width: 820px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__quote {
    /* font-family: SimplyMono, Arial, Helvetica, sans-serif; */
    font-family: STIXTwoText, Georgia, 'Times New Roman', Times, serif;  
    color: white;
    font-size: 34px;
    line-height: 42px;
    font-weight: 600;
    width: 550px;
    letter-spacing: 1px;
    margin: 30px 0 0;
    padding: 50px 0 0;
}

.menu__quote-text {
    /* font-family: SimplyMono, Arial, Helvetica, sans-serif; */
    font-family: STIXTwoText, Georgia, 'Times New Roman', Times, serif;  
    color: rgb(0, 0, 0, .82);
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    width: 600px;
    color: white;
    text-align: end;
}