.modal {
    visibility: hidden;
}

.modal-overlay {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 2;
    background: rgba(0,0,0,0.2);
}

.modal__open {
    visibility: visible;
    position: fixed;
    z-index: 3;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 56vh;
    width: 56vw;
    box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    display: flex;
    row-gap: 20px;
    padding: 0 22px;
    box-sizing: border-box;
}

.modal__title {
    font-family: SimplyMono, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 24px;
    font-style: normal;
    margin: 0 15px;
    text-align: center;
}

.modal__text {
    font-family: STIXTwoText, Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    font-style: italic;
    margin: 2px 20px 14px;
    width: 280px;
}

.modal__button {
    font-family: SimplyMono, Arial, Helvetica, sans-serif;
    font-style: italic;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    box-sizing: border-box;
    width: 250px;
    padding: 6px 0 7px;
    border: solid;
    border-width: 1px;
    border-radius: 2px;
    cursor: pointer;
}

.modal__button_type_yes {
    color: rgb(9, 109, 7);
    border-color: rgb(9, 109, 7);
    background-color: rgb(241, 249, 241);
}

.modal__button_type_no {
    color: rgb(187, 58, 58);
    border-color: rgb(187, 58, 58);
    background-color: rgb(252, 243, 243);
}

.modal__button:hover {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
    transition: box-shadow .4s ease-in-out;
}

@media screen and (max-width: 570px) {
    .modal__title {
        font-size: 22px;
    }

    .modal__text {
        font-size: 16px;
        box-sizing: border-box;
        padding: 0 30px;
    }

    .modal__button {
        font-size: 16px;
        width: 230px;
    }

    .modal__open {
        height: 60vh;
        width: 64vw;
    }
}

@media screen and (max-width: 480px) {
    .modal__title {
        font-size: 20px;
    }

    .modal__button {
        font-size: 16px;
        width: 220px;
    }
}

@media screen and (max-width: 450px) {
    .modal__open {
        height: 64vh;
        width: 68vw;
    }
}