.header {
    display: flex;
    flex-direction: row;
    background-color: #f1e4bb;
    width: 100vw;
    max-width: 1400px;
    height: 70px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: flex-end;
    align-items: center;
    overflow-x: hidden;
    position: relative;
}

.header__logo {
    height: 52px;
    padding-left: 6%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.85;
}

.header__logo:hover {
    opacity: 1;
    transition: opacity .4s ease-out;
    cursor: pointer;
}

.header__navigation {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
    width: auto;
    align-items: center;
    padding: 0 4% 0 0;
    visibility: visible;
}

.header__navigation-button {
    font-family: SimplyMono, Arial, Helvetica, sans-serif;    
    color: rgb(0, 0, 0, .82);
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0;
    background-color: transparent;
    border: none;
    font-style: oblique;
    cursor: pointer;
}

.header__hamburger {
    visibility: hidden;
    height: 0;
    width: 0;
}

.header__navigation-button:hover {
    color: rgb(187, 58, 58);
    transition: color .3s ease-in;
}

@media screen and (max-width: 650px) {
    .header__logo {
        height: 48px;
    }

    .header__navigation {
        padding: 0 6% 0 0;
        column-gap: 18px;
    }
    
    .header__navigation-button {
        font-size: 14px;
    }
}

@media screen and (max-width: 525px) {
    .header {
        height: 50px;
    }

    .header__logo {
        height: 40px;
    }

    .header__navigation {
        padding: 0 6% 0 0;
        column-gap: 14px;
    }
    
    .header__navigation-button {
        font-size: 13px;
    }
}

@media screen and (max-width: 450px) {
    .header {
        height: 50px;
    }

    .header__logo {
        height: 40px;
    }

    .header__navigation {
        padding: 0 5% 0 0;
        column-gap: 14px;
    }
    
    .header__navigation {
        visibility: hidden;
    }

    .header__hamburger {
        visibility: visible;
        background-image: url(../../assets/branding/hamburger.svg);
        width: 28px;
        height: 26px;
        opacity: 76%;
        padding: 0 10px 0 0;
    }
}