.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f1e4bb;
    width: 100vw;
    max-width: 1400px;
    height: 40px;
    position: fixed;
    bottom: 0;
    box-sizing: border-box;
}

.footer__text {
    font-family: SimplyMono, Arial, Helvetica, sans-serif;    color: rgb(0, 0, 0, .82);
    font-size: 10px;
    font-style: oblique;
    line-height: 16px;
    font-weight: 500;
    margin: 0;
    position: absolute;
    right: 5%;
}

.footer__icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    padding: 5px 0 0 4px;
    position: absolute;
}

.footer__social-icon {
    height: 20px;
    cursor: pointer;
    opacity: 0.8;
}

.footer__social-icon:hover {
    opacity: .5;
    transition: opacity .3s ease-in;
}

.footer__email-icon {
    height: 17px;
    cursor: pointer;
    opacity: 0.8;
}

.footer__email-icon:hover {
    opacity: .5;
    transition: opacity .3s ease-in;
}

@media screen and (max-width: 525px) {
    .footer {
        height: 40px;
    }

    .footer__text {
        right: 6%;
    }

    .footer__social-icon {
        height: 16px;
    }

    .footer__email-icon {
        height: 14px;
    }
}

@media screen and (max-width: 460px) {
    .footer {
        height: 40px;
    }

    .footer__social-icon {
        height: 16px;
    }

    .footer__email-icon {
        height: 14px;
    }
}