.landing {
    width: 100vw;
    max-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.landing-closed {
    display: none;
}

.landing__background-layer-front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    z-index: 2;
}

.landing__background-layer-back {          
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    z-index: 1;
}

.landing__enter-container {
    position: fixed;
    top: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle,rgba(255, 255, 255, 0.3) 20%, rgba(255, 255, 255, .8) 100%);
    justify-content: center;
    align-items: center;
    margin: 20vh 40px 0;
    height: 54vh;
    width: 56vw;
    box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
}

.landing__fork {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    max-height:48vh;
    max-width: 56vw;
    padding-left: 28px;
    z-index: 4;
}

.landing__enter-button {
    position: absolute;
    bottom: 6%;
    background-color: rgb(255, 255, 255, .7);
    font-family: STIXTwoText, Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 18px;
    font-style: italic;
    padding: 10px 12px 8px;
    border-radius: 2px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    color: black;
    z-index: 5;
    border: solid;
    border-color: rgb(0, 0, 0, .6);
    border-width: 1.5px;
}

.landing__enter-button:hover {
    box-sizing: border-box;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    color: rgb(187, 58, 58);
    border-color: rgb(187, 58, 58);
    transition: border-color .4s ease-in-out, color .3s ease-in-out, box-shadow .5s ease-in-out;
}

@media screen and (max-width: 800px) {
    .landing__fork {
        max-height: 46vh;
    }

    .landing__enter-button {
        bottom: 10%;
    }
}

@media screen and (max-width: 750px) {
    .landing__fork {
        max-height: 42vh;
    }

    .landing__enter-button {
        bottom: 14%;
        font-size: 18px;
    }
}

@media screen and (max-width: 670px) {
    .landing__fork {
        max-height: 38vh;
    }

    .landing__enter-button {
        bottom: 18%;
        font-size: 18px;
        padding: 10px 12px 8px;
    }
}

@media screen and (max-width: 550px) {
    .landing__fork {
        max-height: 35vh;
    }
}

@media screen and (max-width: 470px) {
    .landing__fork {
        max-width: 50vw;
    }

    .landing__enter-button {
        font-size: 16px;
    }
}